<!DOCTYPE html>
<html lang="en">

<head>

    <title>Caesar Cipher</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        rel="stylesheet"/>

</head>

<body>

<div class="container mt-5">

    <table class="table table-bordered">

        <tr>
            <td class="text-center font-weight-bold" style="font-size: 30px;">
                CAESAR CIPHER
            </td>
        </tr>

        <!-- ENCRYPTION -->
        <tr>
            <td class="font-weight-bold text-primary">
                ENCRYPTION
            </td>
        </tr>

        <tr>
            <td>

                <form method="POST" action="/caesar/encrypt">

                    <div class="form-group">

                        <label>Plain Text</label>

                        <input type="text"
                               class="form-control"
                               name="inputPlainText"
                               placeholder="Input Plain Text"
                               required
                               autofocus>

                    </div>

                    <div class="form-group">

                        <label>Key</label>

                        <input type="number"
                               class="form-control"
                               name="inputKeyPlain"
                               placeholder="Input Key"
                               required>

                    </div>

                    <button type="submit"
                            class="btn btn-primary">
                        Encrypt
                    </button>

                </form>

            </td>
        </tr>

        <!-- DECRYPTION -->
        <tr>
            <td class="font-weight-bold text-success">
                DECRYPTION
            </td>
        </tr>

        <tr>
            <td>

                <form method="POST" action="/caesar/decrypt">

                    <div class="form-group">

                        <label>Cipher Text</label>

                        <input type="text"
                               class="form-control"
                               name="inputCipherText"
                               placeholder="Input Cipher Text"
                               required>

                    </div>

                    <div class="form-group">

                        <label>Key</label>

                        <input type="number"
                               class="form-control"
                               name="inputKeyCipher"
                               placeholder="Input Key"
                               required>

                    </div>

                    <button type="submit"
                            class="btn btn-success">
                        Decrypt
                    </button>

                </form>

            </td>
        </tr>

    </table>

</div>

</body>
</html>